*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}



p{
    font-size: 16px;
}
div.top-header{
    padding: 5%;
}

header{
    background-color: #EAC926;
}

header div.logo{
    width: 50%;
}

header div.logo{
    padding: 10px;
}
header nav{
    font-size: 16px;
    
    justify-content: space-around;
    
}

header ul li{
    list-style-type: none;
    
}

header ul li a{
    text-decoration: none;
    color: #000;
    

}

header .form .input{
    background-color: #FFF;
    border: 1px solid #000;
    outline: none;
    color: #666;
    padding: 2px;
    width:100%;
    min-width: 200px;
}
header .form .submit{
    background-color: #FFF;
    border: 1px solid #000;
    color: #666;
    width: 10%;
}

header div.top-header p{
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

div.burger-menu{
    text-align: center;
    display: block;
    margin: auto;
}

div.burger-menu i{
    background-color: #0044AA;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 40px;
}

article div.main-article{
    width: 100%;
    
}



.discount,
.description,
.price{
    font-size: 16px;
    font-weight: normal;
}

h3
{
    color: #666;
        font-size: 24px;
    }



.description{
    color: lightgray;

}

.description:hover {
    color: rebeccapurple;
}

section.banner img{
    width: 100%;
}

main{
    width: 100%;
    
}



main section article img{
    width: 100%;
}

main section article i,
.discount{
    color: #39b54a;
}


.camioncito{
padding-left: 3px;
padding-right: 20px;
padding-top: 3px;
padding-bottom: 20px;
border: solid 3px #39b54a;
color: #39b54a;
border-radius: 50px;
transition-property: color,transform;
transition-duration: 1s;
}

.camioncito:hover{
color: darkolivegreen;
transform :rotate(90deg);
}

.products {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
 
}

.product_img{

    width:80%;
   
   
    border:3px solid rgb(218, 203, 203);
 

    
}

.product_img:hover {
    box-shadow: 50px #000;
    -moz-box-shadow: 10px 10px 5px #ccc;
      -webkit-box-shadow: 10px 10px 5px #ccc;
      -khtml-box-shadow: 10px 10px 5px #ccc;
    
    width:90%;

    
}

.header-botton-bar{
display: none;

}

.titular-footerub,.descripciones-footerub{

    display: flex;
    justify-content: space-evenly;
}



.header-botton-bar ul ,.titular-footerub,.descripciones-footerub{

    
    padding:30px;
    display: flex;
 
}



.left-navbar li{

    margin-left:10px;
    padding:10px;
    display: flex;
 
}
.rigth-navbar li{

    margin-left:10px;
    padding:10px;
    
    display: flex;
    
   


}

.top-header{

    display:flex;
    padding:30px;
    justify-content: space-between;
    
    
   


}

.last-visit{
    display:flex;
    flex-wrap:wrap;

}

@media (min-width:768px) {
    
    *{
        font-size: 24px;
    }
    .discount,
.description,
.price{
    font-size: 24px;
    font-weight: normal;
}
    
    p{
        font-size: 24px;
    }

    h3
    {
        
            font-size: 24px;
        }
    
        .header-botton-bar{
            display: flex;
            
            }
            div.burger-menu{
                text-align: center;
                display: none;
            }

    }

    

    @media (min-width:1260px) {
    
        *{
            font-size: 48px;
        }
        .discount,
    .description,
    .price{
        font-size: 48px;
        font-weight: normal;
    }
        
        p{
            font-size: 48px;
        }
    
        h3
        {
            
                font-size: 48px;
            }
            .foot-copy

            {
            
                padding: 48px;
            }
        footer .fa-solid{
            
            margin-left: 50%;
        }
          
    
    
        }