<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clase 13</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container1">   Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus, nam blanditiis?
         Nemo, soluta magnam est corporis repudiandae excepturi nostrum,
         obcaecati voluptatibus eius dignissimos, quae corrupti minima nesciunt! Amet, quae? Ratione? </div>
         <div class="container2">   Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus, nam blanditiis?
            Nemo, soluta magnam est corporis repudiandae excepturi nostrum,
            obcaecati voluptatibus eius dignissimos, quae corrupti minima nesciunt! Amet, quae? Ratione? </div>

</body>
</html>