<html>
  <head>
    <title>Mercado Liebre</title>
  </head>
  <body>


<header>

    <div> </div><img src = "..\public\images\logo-mercado-liebre.svg" width="20%" 
 alt="logo" > </div >

    <div>Lugar Para poner la barra de búsqueda</div>
    <div>Comprá en cuotas y sin tarjeta de crédito</div >
 <nav>
    <ul>
        <li><a href = "#Ofertas" > Ofertas  </a> </li>
        <li><a href = "#Tiendas Oficiales" > Tiendas Oficiales  </a></li>
        <li><a href = "#Vender" > Vender  </a> </li>
        <li><a href = "#Ayuda" > Ayuda  </a></li>
    </ul>

 </nav>

 <nav>
    <ul>
        <li><a href = "#Creá tu cuenta" > Creá tu cuenta  </a> </li>
        <li><a href = "#Ingresá" > Ingresá  </a></li>
        <li><a href = "#Mis Compras" > Mis Compras  </a> </li>
        
    </ul>

 </nav>
</header>

<style>
span.first {
    display: inline-block;
    width: 150px;
    height: 120px;
    padding: 8px;
    border: 3px  blue;
    background-color: green;
    }
</style>


<main>
    
    <div>   <h2> Basado en tu última visita </h2> </div>
    
    <article>
        
        <div class="" style="max-width: 20%;max-height: 20%;display: inline-block;">
            <img src = "..\public\images\img-cafetera-moulinex.jpg" width="50%" 
        alt="logo" > </span >
        <h3>Cafetera Moulinex </h3>  
        <h3>$6770 40% off</h3>
        </div>
        
        <div class="" style="max-width: 20%;max-height: 20%;display: inline-block;">
        <img src = "..\public\images\img-macbook-pro-2019.jpg" width="50%" 
        alt="logo" > 
        <h3>MAcBook Pro 2019 </h3>
        <h3>$230000 20% off </h3>
        </div>
    
    
        <div class="" style="max-width: 20%;max-height: 20%;display: inline-block;">
        <img src = "..\public\images\img-samsung-galaxy-s10.jpg" width="50%" 
        alt="logo" > 
        <h3>Samsung Galaxy S10 </h3>
        <h3>$70500 10% off </h3>
        </div>

        <div class="" style="max-width: 20%;max-height: 20%;display: inline-block;">
        <div><img src = "..\public\images\img-tv-samsung-smart.jpg" width="50%" 
        alt="logo" > 
        <h3>SmartTv Samsung 43" </h3>
        <h3>$23200 10% off </h3>
        </div>
    
    </article>


    <div>   <h2> Ofertas </h2> </div>
    
    <article>
        
        <div class="" style="max-width: 20%;max-height: 30%;display: inline-block;">
            <img src = "..\public\images\img-cafetera-moulinex.jpg" width="50%" 
        alt="logo" > </span >
        <h3>Cafetera Moulinex </h3>  
        <h3>$6770 40% off</h3>
        </div>
        
        <div class="" style="max-width: 20%;max-height: 30%;display: inline-block;">
        <img src = "..\public\images\img-macbook-pro-2019.jpg" width="50%" 
        alt="logo" > 
        <h3>MAcBook Pro 2019 </h3>
        <h3>$230000 20% off </h3>
        </div>
    
    
        <div class="" style="max-width: 20%;max-height: 30%;display: inline-block;">
        <img src = "..\public\images\img-samsung-galaxy-s10.jpg" width="50%" 
        alt="logo" > 
        <h3>Samsung Galaxy S10 </h3>
        <h3>$70500 10% off </h3>
        </div>

        <div class="" style="max-width: 20%;max-height: 30%;display: inline-block;">
        <div><img src = "..\public\images\img-tv-samsung-smart.jpg" width="50%" 
        alt="logo" > 
        <h3>SmartTv Samsung 43" </h3>
        <h3>$23200 10% off </h3>
        </div>
    
    </article>


</main>


    
    <footer>
        
        <div class="" style="max-width: 20%;max-height: 20%;display: inline-block ;">
            <ul>
                <li > <strong>Pagá con tarjeta o en efectivo </strong> </li>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago.    ¡Y siempre es seguro!                     </p>
                
        </div>
        
        <div class="" style="max-width: 20%;max-height: 20%;display: inline-block;">
            <ul>
                <li > <strong>Envío gratis desde $ 2.500</strong> </li>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </ul>
        </div>
    
    
        <div class="" style="max-width: 20%;max-height: 20%;display: inline-block;">
            <ul>
                <li > <strong>Seguridad, de principio a fin </strong> </li>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </ul>
        </div>

        <div class="" style="max-width: 20%;max-height: 20%;display: inline-block;">
            <ul>
                <li > <strong>Copyright © 1999-2020 MercadoLiebre S.R.L </strong> </li>
                
            </ul>
        </div>
    
    </footer>






</body>  