<html>
  <head>
    <title>Formulario de login</title>
  </head>
  <body>
    <form action="login.html" method="POST">
      
    <p>
    <label for="usuario"> Nombre de usuario :</label>
    <input type="text" name="usuario" id="usuario">
    </p>
     
                    <label for="pass"> Password :</label>
                    <input type="password" name="pass" id="pass">
                </p>

              


    
        <button  type="reset" > Cancelar  </button>
        <button  type="submit" > Enviar  </button>
    
    
    
    
    </form>
  </body>
</html>